* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(132deg, rgba(0,0,0,1) 5%, rgba(0,79,147,1) 97%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

.content{
    
    font-family: 'Roboto';
    color: #f3f3f3;
    margin-left: 50px;
    margin-top: 50px;
    display: none;
}

.work{
    display: none;
    color: white;
    font-family: 'roboto';
    font-weight: 200;
    align-items: center;
    gap: 64px;
    padding: 74px 148px;
}
.work img{
    border-radius: 8px;
    
}

.work-principal h2{
    display: none;
    color: white;
    font-family: 'roboto';
    font-weight: 200;
    margin-left: 50px;
    padding-top: 64px;
}

h2{
    font-size: 25pt;
}
.txt{
    padding-top: 16px;
    width: 700px;
    height: 300px;
    font-size:18pt;
}

.exit{
    border-radius: 8px;
    width: 105px;
    height: 50px;
    font-size: 14pt;
   display: flex;
    justify-content: center;
   align-items: center;
    background-color: rgb(104, 104, 104);
    color: aliceblue;
    font-family: 'Montserrat';
    font-weight: 600;
    border: none;
    transition: all .3s;
}

.exit:active,
.exit:hover{
    outline: 0;
    scale: 0.85
    
}
#curriculo{
    fill: aliceblue;
}

.btns{
    display: flex;
    margin-right: 10px; 
}

a{
    border-radius: 8px;
    width: 105px;
    height: 50px;
    font-size: 14pt;
   display: flex;
    justify-content: center;
   align-items: center;
    background-color: rgb(104, 104, 104);
    color: aliceblue;
    font-family: 'Montserrat';
    font-weight: 600;
    border: none;
    transition: all .3s;  
    text-decoration: none;
}

a:active,
a:hover{
    outline: 0;
    scale: 0.85
    
}



/* Estilize a tela de loading para cobrir a tela inteira */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fundo semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Z-index alto para garantir que esteja na frente de outros elementos */
}

/* Estilize o spinner de carregamento */
.loading-spinner {
    border: 4px solid #f3f3f3; /* Cria um círculo branco */
    border-top: 4px solid #3498db; /* Cria um círculo azul como a animação de carregamento */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite; /* Animação de rotação infinita */
}

/* Defina a animação de rotação */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 900px){
    .btns{
        display: flex
        
    }
    h2{
        font-size: 20pt;
    }
    .txt{
        padding-top: 16px;
        width: 320px;
        height: 500px;
        font-size: 16pt;
    }
}